body{
    display: flex;
    justify-content: center;
    align-items: center;
    height:100vh;
    margin:0;
}

#calculator{
    background-color:black;
    border-radius:30px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    max-width: 500px;
    overflow: hidden;
}
#display{
    font-weight: 400;
    width:100%;
    text-align: right;
    padding:20px;
    font-size: 3rem;
    background-color: black;
    border:none;
    color:white;


}
#numbers{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap:8px;
    padding: 15px;

}
p{
    color:white;
    font-size: 50px;

}
button{
    width:100px;
    height:100px;
    border-width:0px;
    font-size: 30px;
    color:white;
    background-color: rgb(37, 36, 32);

}
.button-text{
    font-size:25px;
    font-weight:600;

}
.operator{
    background-color:rgb(191, 136, 42)
}
button:active{
    background-color: rgb(37, 36, 32), hsl(hue, saturation, 50%);
}